# Ignore .git folder
.git

# Ignore node_modules folder
node_modules

# Ignore .env file
.env

# Ignore .next and .turbo folders (rebuilt in Docker)
.next
.turbo
*.md
.github
kustomize
terraform
docs
**/*.test.ts
**/*.spec.ts
